<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<div class="card-deck">
  <% @properties.each do |property| %>
  <div class="card">
    <div class="image-hider">
      <%= image_tag(property.image, :class => 'card-img-top') %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= property.title %></h5>
      <p class="card-text"><%= property.description %></p>
      <p class="card-text"><%= property.price %></p>
      <%= link_to 'Make reservation', reservations_new_path(property), :class => 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>