<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Host</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
    <tr>
      <td><%= image_tag(property.image) %></td>
      <td><%= property.title %></td>
      <td><%= property.description %></td>
      <td><%= property.price %></td>
      <td><%= property.host_id %></td>
      <td><%= link_to 'Show', property %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>