<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  $USD <%= @property.price %>
</p>

<p>
  <strong>Host:</strong>
  <%= @property.host_id %>
</p>

<% if host_signed_in? && @owner %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_mine_path %>
<% else %>
<%= link_to 'Back', properties_path %>
<% end %>