<p id="notice"><%= notice %></p>

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="show-img">
    <%= image_tag(@property.image, :class => 'rounded') %>
  </div>
  <div class="p-2 bd-highlight">
    <p>
      <strong>Title:</strong>
      <%= @property.title %>
    </p>

    <p>
      <strong>Price:</strong>
      $USD <%= @property.price %>
    </p>

    <p>
      <strong>Host:</strong>
      <%= @property.host.email %>
    </p>
  </div>
</div>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>



<p>
  <%= link_to 'Make reservation', reservations_new_path(@property), :class => 'btn btn-primary' %>
</p>

<% if host_signed_in? && @owner %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_mine_path %>
<% else %>
<%= link_to 'Back', properties_path %>
<% end %>