<%= form_with(model: reservation, local: true) do |form| %>
<% if reservation.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

  <ul>
    <% reservation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone %>
</div>

<div class="field">
  <%= form.label :nights %>
  <%= form.number_field :nights %>
</div>

<div class="field">
  <%= form.label :guests %>
  <%= form.number_field :guests %>
</div>

<div class="field">
  <%= form.label :total_cost %>
  <%= form.text_field :total_cost %>
</div>

<div class="field">
  <%= form.label :host_id %>
  <%= form.text_field :host_id %>
</div>

<div class="field">
  <%= form.label :property_id %>
  <%= form.text_field :property_id %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>